:root{
/* COLORS */

    --background-default: #F5F4f0;
    --border-primary: #D9D9D9;

    /* Text */

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;


    /* Accent*/

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;


/* TIPOGRAPHY */

    --font-family: 'Open Sans', sans-serif, helvetica, serif;
    
    /* Heading 1 */
    --heading-1-size: 2.25em;
    --heading-1-weight: bold;

    /* Heading 2 */
    --heading-2-size: 2em;
    --heading-2-weight: bold;

    /* Heading 3 */
    --heading-3-size: 1.75em;
    --heading-3-weight: bold;

    /* Headline */
    --headline-size: 1em;
    --headline-weight: bold;

    /* Paragraph */
    --paragraph-size: 1em;
    --paragraph-weight: normal;

    /* Subtitle */
    --subtitle-size: 1em;
    --subtitle-weight: italic;
}

.main_container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#header_container{}

.headline{}

.header_title{}

.image_sizing_header{}

.paragraph_description{}

.divider_line{}

.locals_destinations_container{}

#list_of_locals_destinations{}

#destination_locals_header{}

.destination_locals_title{}

.paragraphs_content{}

.turistic_locals_containers{}

.image_sizing{}

.turistic_locals_titles{}

.paragraph.bolder{}

.list_good_for{}

.accent_blue_color{}

.accent_purple_color{}

.accent_orange_color{}

.accent_pink_color{}

.turistic_locals_containers{}

.footer_container{}

.footer_paragraph{}

.image_footer_heart{}